@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Bevan:ital@0;1&family=Black+Ops+One&family=Kumar+One&family=Limelight&family=Notable&family=Rakkas&display=swap');

.main {
    text-decoration: none;
    color: #171717;
}

.header {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    padding: 0 15px;
    background-color: rgba(165, 42, 42, 0);
    box-sizing: border-box;

    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
}

.contents {
    display: flex;
}

.items {
    margin-left: 15px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: #171717;
}

.items:hover {
    background-color: #e7e7e7;
}


@media screen and (min-width: 767px) {
    .header {
        position: absolute;

    }
}