.top {
    height: 200px;
    margin-top: 56px;
    background-color: #2a2a2a;
    background-image: url('../../data/headerImg.png');
    background-size: cover;

}

.title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #e4e6f3;
    height: 200px;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 1px 1px 1px #000;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    align-content: flex-start;
    /* 높이 꽉차게
    height: calc(100vh - 256px); */
}


@media screen and (max-width: 767px) {
    .container {
        overflow-y: scroll;
        height: calc(100vh - 256px);
    }
}

@media (min-width: 1300px) {
    .container {
        /* overflow-y: scroll; */
        padding-left: 100px;
        padding-right: 100px;
    }

}