@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Bevan:ital@0;1&family=Black+Ops+One&family=Kumar+One&family=Limelight&family=Notable&family=Rakkas&display=swap');

* {
    box-sizing: border-box;
}

.card {
    width: 300px;
    height: 200px;
    margin: 10px;
}

/*hover 시, 크기 늘리기 및 밝아지기 효과 적용 */
.card:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    filter: brightness(50%)
}

.wrap {
    position: relative;
}

/*hover 시, 크기 늘리기 및 밝아지기 효과 적용 */
.wrap:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    filter: brightness(90%)
}

.wrap img {
    width: 300px;
    height: 200px;
    margin: 10px;
    vertical-align: center;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: #e4e6f3;
    font-size: 1.5rem;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 5px 5px 5px #000;
    z-index: 99;
}


@media screen and (max-width: 767px) {
    .card {
        width: 300px;
    }

    .wrap img {
        width: 300px;
    }
}


@media screen and (min-width: 1025px) {
    .card {
        width: 300px;
        height: 250px;
        margin-bottom: 5px;
    }

    .wrap img {
        width: 300px;
        height: 250px;
        margin-bottom: 5px;
    }
}


@media screen and (min-width: 1300px) {
    .card {
        width: 400px;
        margin-bottom: 5px;
    }

    .wrap img {
        width: 400px;
        margin-bottom: 5px;
    }
}