@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Bevan:ital@0;1&family=Black+Ops+One&family=Kumar+One&family=Limelight&family=Notable&family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');



.source {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
    height: 100vh;
}

.title {
    position: absolute;
    top: 70px;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
}

.line {
    position: absolute;
    top: 140px;
    background-color: #3a3a3a3d;
    width: 70px;
    height: 1px;
    margin: 30px auto;
}

.contents {
    position: absolute;
    top: 140px;
    padding: 4rem 6rem;
    width: 100vw;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.5rem;
    background-color: #dcdcdc;
    width: 100vw;
}

.sourcePart {
    margin-bottom: 2rem;
}

.sourceTitle {
    margin-top: 15px;
    font-size: 18px;
    text-align: left;
    font-family: 'Abril Fatface', cursive;

}

.sourceContents {
    margin-bottom: 5px;
    text-align: left;
    font-family: 'Abril Fatface', cursive;
    color: #383838;
    /*문자가 div 밖으로 나가는 것을 막아주는 기능*/
    word-break: break-all;
}


@media screen and (max-width:500px) {
    .contents {
        padding: 3rem 3rem;
    }
}