.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}

.modal>section {
    /*최대 너비 및 높이 설정*/
    width: 90%;
    max-width: 1000px;
    height: auto;
    max-height: 700px;
    /*중앙 정렬*/
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 모달창이 열릴 때, 애니메이션 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
}

.modal>section>header {
    position: relative;
    padding: 16px 64px 16px 16px;
    background-color: #f1f1f1;
    font-weight: 700;
}

.modal>section>header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}

.modal>section>main {
    display: flex;
    border-top: 1px solid #dee2e6;
    height: 100%;
}

.photoPart {
    width: 100%;
    height: 100%;
    padding: 10% 0;
    background-color: #000000;
}

.photo {
    width: 100%;
    height: 80%;
}

.infoPart {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    padding: 15px;
}

.infoTitle {
    margin: 15px 0;
    text-align: center;
    font-size: 1.5rem;
}

.author {
    margin-bottom: 50px;
    text-align: center;
    color: #474747;
}

.description {
    height: 80%;
    padding: 15px;
    border-radius: 5px;
    background-color: #e1e1e1;
}

/*modal창 열렸을 때 style로 기존의 .modal의 값들을 update 시킴 */
.modal.openModal {
    display: flex;
    align-items: center;
    /* 모달창이 열릴 때, 애니메이션 효과 */
    animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes modal-bg-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .modal>section>main {
        flex-direction: column;
    }

    .photoPart {
        padding: 0;
        background-color: #00000000;
    }

    .infoPart {
        width: auto;
        height: 30%;
    }

    .description {
        display: none;
    }
}